/* Don't change the existing CSS. */


#outer-box {
  background-color: purple;
  
}

.box{
  padding:10px;
  background-color:blue
}


p {
  color: yellow;
  margin: 0;
  padding: 0;
  
  
}

.white-text{
  color: white;
}

.inner-box{
  background-color: red ;
}


